sentence-transformers
langchain
python-dotenv
ipykernel
langchain-community
pypdf
langchain-text-splitters
langchain-openai
chromadb
pytz
langchain-ollama
faiss-cpu
langchain-groq
bs4
langchain-chroma
langchain-huggingface
streamlit
wikipedia
arxiv